<md-tab-group>
  <md-tab label="Sub">
    <div>
      <form class="example-form">


        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="First name">
              </md-input-container>
            </td>
          </tr>
          <tr>
            <td>
              <md-input-container class="example-full-width">
                <input mdInput placeholder="Long Last Name That Will Be Truncated">
              </md-input-container>
            </td>
          </tr>
          <tr style="width:120px;float:right ">
            <td><button md-raised-button color="primary">Calculate </button></td>
          </tr>
        </table>




      </form>

    </div>
  </md-tab>
  <!-- End Sub -->
  <md-tab label="Sum">Content 2</md-tab>
</md-tab-group>
 


<div>
  <button md-raised-button color="primary">My Button</button>
</div>


